PyQt 2048/.idea/
PyQt Stylesheets/__pycache__/styles.cpython-310.pyc
PyQt 2048/__pycache__/core.cpython-310.pyc
PyQt Designer/__pycache__/calc.cpython-310.pyc
MemoryCard/__pycache__/style.cpython-310.pyc
.qt_for_python/rcc/app.py
MemoryCard/__pycache__/qrc.cpython-310.pyc
MemoryCard/app.spec
MemoryCard/build
20 analyse/main.py
20 analyse/20.txt
20 analyse/HW_3_Irina_Lezhneva.ipynb
20 analyse/main.ipynb
Freelance/6 pandas/Cognitive_age.xlsx
Freelance/6 pandas/main.ipynb
Freelance/6 pandas/result.xlsx
Freelance/6 pandas/tests_summary.tsv
