PyQt 2048/.idea/
PyQt Stylesheets/__pycache__/styles.cpython-310.pyc
PyQt 2048/__pycache__/core.cpython-310.pyc
PyQt Designer/__pycache__/calc.cpython-310.pyc
MemoryCard/__pycache__/style.cpython-310.pyc
